html,
body {
  height: 100%;
}

body {
  background-color: rgb(67, 64, 59);
  color: rgb(246,242,215);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

a {
  color: rgb(246,242,215);
  font-family: 'Bitter', serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
 .bg::after {
   content: "";
   background: url(./assets/bagel-background.jpg);
   opacity: 0.2;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: -1;
 }
