html,
body {
  height: 100%;
}

body {
  background-color: rgb(67, 64, 59);
  color: rgb(246,242,215);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

a {
  color: rgb(246,242,215);
  font-family: 'Bitter', serif;
}

ul li{
  list-style-type: none;
  margin: 0;
  padding: 5px;
  font-size: x-large;
}

ul {
  border: solid 2px rgb(246,242,215);
  padding: 30px;
}

 .bg:before {
   content: "";
   display: block;
   background: url(./assets/bagel-background.jpg);
   background-repeat: no-repeat;
   opacity: 0.2;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   background-position: 50% 0;
   -ms-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
 }
